[Unit]
Description=Dynamic Sensor Watcher

[Service]
ExecStart=/usr/bin/dswatcher -config /etc/dswatcher/config.yml
Restart=always
User=dswatcher
Group=dswatcher

[Install]
WantedBy=multi-user.target
